#image_results
{
	width: 500px;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px outset gray;
}
.post_container
{
	width: 490px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 8px;
	
	text-align: center;
	display: block;
	border-bottom: 2px inset gray;
}
.post_container a
{
	text-decoration: none;
	color: inherit;
}
.post_container a:hover
{
	font-weight: bolder;
}
.post_container button
{
	font-size: 12px;
}
.post_container .images
{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	color:#47c727;
	display: block;
}
.post_container .name
{
	width: 95%;
	height: auto;
	font-weight: bolder;
	color:#47c727;
	display: block;
}
.post_container .description
{
	width: 95%;
	height: auto;
	color:#47c727;
	display: block;
}
.post_container .poster
{
	width: 95%;
	height: auto;
	color:#47c727;
	display: block;
}
.post_container .date
{
	width: 95%;
	height: auto;
	font-size: 12px;
	color:#47c727;
	display: block;
}
.post_container .comments
{
	width: 95%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 15px;
	display:block;
}
.viewcomments
{
	width: 150px;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}