#profile_pic
{
	width: 500px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#fileInput
{
	width: 0px;
	display: inline-block;
}
.image_content
{
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	display: block;
	text-align: center;
	color: white;
	border: 1px solid gray;
	background: -webkit-linear-gradient(left, #b5babf, #65636b); /* For Safari */
	background: -o-linear-gradient(right, #b5babf, #65636b); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #b5babf, #65636b); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #b5babf, #65636b); /* Standard syntax */
}
#upload_menu
{
	width: 500px;
	height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: block;
}
#upload_menu .upload_button
{
	width: 200px;
	height: 25px;
	font-size: 12px;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.mainInfo .images
{
	width: 30%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.mainInfo .info
{
	color: green;
	width: 100%;
	height: auto;
	
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	display: block;
	text-align: center;
	word-wrap: break-word;
	display: inline-block;
}
.mainInfo .progressBar
{
	width: 40%;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	
	color: black;
	line-height: normal;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	display: block;
	
	background: -webkit-linear-gradient(left, #32693f, #77ea83); /* For Safari */
	background: -o-linear-gradient(right, #32693f, #77ea83); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #32693f, #77ea83); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #32693f, #77ea83); /* Standard syntax */
	
	background-size: 0% 100%;
	background-repeat:no-repeat;

	border: 1px solid #65636b;
	border-radius:25px;
}
h2
{
	width: 400px;
	font-size: 18px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}