#uploadArea
{
	width: 700px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid gray;
	border-top-left-radius:.4em;
	border-top-right-radius:.4em;
}
#uploadArea #menu
{
	width: 100%;
	height: 40px;
	display: block;
	border-bottom: 2px outset gray;
}
#uploadArea #menu .menuButton
{
	width: 100px;
	height: 25px;
	margin-left: 10px;
	margin-top: 5px;
}
#uploadArea #dropbox
{
	width: 80%;
	height: 150px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	
	border: 2px dotted green;
	text-align: center;
	display: block;
}
#uploadArea #fileList
{
	width: 80%;
	height: auto;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	
}
#uploadArea #fileList .content
{
	width: 30.5%;
	float: left;
	margin: 1%;
	
	border: 2px inset green;
	display: block-inline;
}
#uploadArea #fileList .images
{
	width: 95%;
	height: 100px;
	display: block;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#uploadArea #fileList .info
{
	color: green;
	width: 95%;
	height: 70px;
	
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 5px;
	margin-bottom: 5px;
	
	text-align: center;
	word-wrap: break-word;
	display: block;
}
#uploadArea #fileList .progressBar
{
	width: 95%;
	height: 20px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	display: block;
	
	background: -webkit-linear-gradient(left, green, white); /* For Safari */
	background: -o-linear-gradient(right, green, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, green, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, green, white); /* Standard syntax */
	
	background-size: 0% 100%;
	background-repeat:no-repeat;

	border: 1px outset green;
	border-radius:25px;
}